<a href="https://colab.research.google.com/github/KaylaBaer/KaylaBaerDSA4620/blob/main/KaylaBaer_ICP2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# The difference between Counter.count and self.count is
# that self indicates an instance of the class where Counter does not

# a.get_counts() will return 2
# b.get_counts() will return 1

# Since the method uses both self and Counter, the variable will get
# incremented for both the class and the instance of the variable

In [32]:
def sumAll(*args):
  sumOf = sum(args)
  return sumOf

print(sumAll(1, 2, 3))

6

In [11]:
def first_word(students):
  students.sort()
  return students[0]
students = ['Kayla', 'Mary', 'Jimmy', 'Aaron']
print(first_word(students))

Aaron

In [25]:
class Employee:
  count = 0
  totalSalary = 0
  def __init__(self, name, family, salary, department):
    self.name = name
    self.family = family
    self.salary = salary
    self.department = department
    Employee.count += 1
    Employee.totalSalary += int(salary)
  def avgSalary():
      avg = Employee.totalSalary / Employee.count
      return avg

e1 = Employee('Kayla', 'family', '60000', 'IT')
e2 = Employee('Mary', 'family', '80000', 'IT')

Employee.avgSalary()

70000.0

70000.0

In [27]:
class FullTimeEmployee(Employee):
  def __init__(self, name, family, salary, department):
    super().__init__(name, family, salary, department)

e3 = FullTimeEmployee('Jimmy', 'family', '50000', 'HR')
e4 = FullTimeEmployee('Sue', 'family', '90000', 'HR')

FullTimeEmployee.avgSalary()

66000.0

66000.0