<a href="https://colab.research.google.com/github/KaylaBaer/KaylaBaerDSA4620/blob/main/KaylaBaer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
pythonString = ''   # holds the characters that the user enters
for i in range(6):
  pythonString += input(f"Enter \"Python\" by character: ")

newString = ''      # Holds the shortened string
for i in range(len(pythonString) - 2):
  newString += pythonString[i]

reversedString = '' # Holds reversed string
for i in range(len(newString) - 1, -1, -1):   # Move backwards through the string to add them in reversed order
  reversedString += newString[i]

print(reversedString)

Enter "Python" by character: p
Enter "Python" by character: y
Enter "Python" by character: t
Enter "Python" by character: h
Enter "Python" by character: o
Enter "Python" by character: n
htyp

In [8]:
userNum1 = input("Enter a number: ")
userNum2 = input("Enter another number: ")

sum = int(userNum1) + int(userNum2)
print(f"{userNum1} + {userNum2} = {sum}")

product = int(userNum1) * int(userNum2)
print(f"{userNum1} * {userNum2} = {product}")

quotient = int(userNum1) / int(userNum2)
print(f"{userNum1} / {userNum2} = {quotient}")

mod = int(userNum1) % int(userNum2)
print(f"{userNum1} % {userNum2} = {mod}")

Enter a number: 2
Enter another number: 4
2 + 4 = 6
2 * 4 = 8
2 / 4 = 0.5
2 % 4 = 2

In [9]:
from re import split
userInput = input("Enter a sentence: ")
splitSentence = userInput.split()
for i in range(len(splitSentence)):
  if splitSentence[i] == "python":
    splitSentence[i] = "pythons"
  print(splitSentence[i] + " ", end = '')

Enter a sentence: This is python
This is pythons

In [10]:
userGrade = int(input("Enter your grade: "))

if userGrade >= 90:
  print('A')
elif userGrade >= 80:
  print('B')
elif userGrade >= 70:
  print('C')
elif userGrade >= 60:
  print('D')
else:
  print('F')

Enter your grade: 79
C

In [1]:

userInputList = [23, 'Python', 23.8]
typeList = []
for i in range(len(userInputList)):
  typeList.append(type(userInputList[i]))
print(typeList)

[<class 'int'>, <class 'str'>, <class 'float'>]

In [6]:
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

print(f"Length of IT_companies: {len(IT_companies)}")

IT_companies.add('Twitter')
print(f"Add Twitter to the set: {IT_companies}")

IT_companies.remove('Facebook')
print(f"Remove Facebook from the set: {IT_companies}")

print("What is the difference between remove and discard? Remove will throw an error if the value entered does not exist, discard does not.")

print(f"Combine A & B: {A | B}")

print(f"Find the intersection between A & B: {A & B}")

print("Yes, A is a subset of B.")

print("No, A and B are not disjointed.")

print(f"Combine A and B: {A | B}")
print(f"Combine B and A: {B | A}")

print(f"The symmetric differences between A and B are: {A & B}")

del A
del B
print(f"Remove sets A and B")

ageSet = set(age)
print(f"Change age to a set: {ageSet}")
print(f"Length of list: {len(age)}")
print(f"Length of set: {len(ageSet)}")

Length of IT_companies: 7
Add Twitter to the set: {'Apple', 'Amazon', 'Google', 'Twitter', 'Facebook', 'Oracle', 'Microsoft', 'IBM'}
Remove Facebook from the set: {'Apple', 'Amazon', 'Google', 'Twitter', 'Oracle', 'Microsoft', 'IBM'}
What is the difference between remove and discard? Remove will throw an error if the value entered does not exist, discard does not.
Combine A & B: {19, 20, 22, 24, 25, 26, 27, 28}
Find the intersection between A & B: {19, 20, 22, 24, 25, 26}
Yes, A is a subset of B.
No, A and B are not disjointed.
Combine A and B: {19, 20, 22, 24, 25, 26, 27, 28}
Combine B and A: {19, 20, 22, 24, 25, 26, 27, 28}
The symmetric differences between A and B are: {19, 20, 22, 24, 25, 26}
Remove sets A and B
Change age to a set: {19, 22, 24, 25, 26}
Length of list: 8
Length of set: 5