<a href="https://colab.research.google.com/github/KaylaBaer/KaylaBaerDSA4620/blob/main/KaylaBaer_ICP3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np



data = {
    'ID': np.arange(1, 1000001),
    'Value':np.random.rand(1000000),
    'Category': np.random.choice(['A', 'B', 'C', 'D'], size = 1000000)
}
data = pd.DataFrame(data)
print(data.head(10))

   ID     Value Category
0   1  0.250005        C
1   2  0.346461        B
2   3  0.160200        B
3   4  0.952767        B
4   5  0.485010        D
5   6  0.836114        D
6   7  0.719200        C
7   8  0.241868        C
8   9  0.170326        D
9  10  0.369581        A

In [ ]:
print(data.loc[:, 'Value'])

0         0.250005
1         0.346461
2         0.160200
3         0.952767
4         0.485010
            ...
999995    0.887479
999996    0.145742
999997    0.280185
999998    0.502649
999999    0.623603
Name: Value, Length: 1000000, dtype: float64

In [ ]:
data = data.rename(columns={'ID': 'ID number', 'Value': 'Random value', 'Category': 'Choice'})
print(data.head(5))

   ID number  Random value Choice
0          1      0.250005      C
1          2      0.346461      B
2          3      0.160200      B
3          4      0.952767      B
4          5      0.485010      D

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)
student_data = pd.DataFrame({
    'school_code': ['s001', 's002', 's003', 's001', 's002', 's004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco', 'Gino Mcneill', 'Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_of_birth': ['15/05/2002', '17/05/2002', '16/02/1999', '25/09/1998', '11/05/2002', '15/09/1997'],
    'age': [12, 12, 13, 13, 14, 12],
    'height': [173, 192, 186, 167, 151, 159],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4'],
    'index': ['S1', 'S2', 'S3', 'S4', 'S5', 'S6']
})
print("original DataFrame: ")
print(student_data)
print('\nSplit the said data on school_code, class Wise: ')
result = student_data.groupby(['school_code', 'class'])
for name, group in result:
  print("\nGroup:")
  print(name)
  print(group)

original DataFrame:
  school_code class            name date_of_birth  age  height  weight  \
0        s001     V  Alberto Franco    15/05/2002   12     173      35
1        s002     V    Gino Mcneill    17/05/2002   12     192      32
2        s003    VI     Ryan Parkes    16/02/1999   13     186      33
3        s001    VI    Eesha Hinton    25/09/1998   13     167      30
4        s002     V    Gino Mcneill    11/05/2002   14     151      31
5        s004    VI    David Parkes    15/09/1997   12     159      32

   address index
0  street1    S1
1  street2    S2
2  street3    S3
3  street1    S4
4  street2    S5
5  street4    S6

Split the said data on school_code, class Wise:

Group:
('s001', 'V')
  school_code class            name date_of_birth  age  height  weight  \
0        s001     V  Alberto Franco    15/05/2002   12     173      35

   address index
0  street1    S1

Group:
('s001', 'VI')
  school_code class          name date_of_birth  age  height  weight  address  \
3        s001    VI  Eesha Hinton    25/09/1998   13     167      30  street1

  index
3    S4

Group:
('s002', 'V')
  school_code class          name date_of_birth  age  height  weight  address  \
1        s002     V  Gino Mcneill    17/05/2002   12     192      32  street2
4        s002     V  Gino Mcneill    11/05/2002   14     151      31  street2

  index
1    S2
4    S5

Group:
('s003', 'VI')
  school_code class         name date_of_birth  age  height  weight  address  \
2        s003    VI  Ryan Parkes    16/02/1999   13     186      33  street3

  index
2    S3

Group:
('s004', 'VI')
  school_code class          name date_of_birth  age  height  weight  address  \
5        s004    VI  David Parkes    15/09/1997   12     159      32  street4

  index
5    S6

In [7]:
df = pd.read_csv('data.csv')
column_averages = df.mean()
print("The mean of each column: ")
print(column_averages)

The mean of each column:
Duration     63.846154
Pulse       107.461538
Maxpulse    134.047337
Calories    375.790244
dtype: float64

In [8]:
print("The median of each column: ")
print(df.median())

The median of each column:
Duration     60.0
Pulse       105.0
Maxpulse    131.0
Calories    318.6
dtype: float64

In [9]:
print("The standard deviation of each column: ")
print(df.std())

The standard deviation of each column:
Duration     42.299949
Pulse        14.510259
Maxpulse     16.450434
Calories    266.379919
dtype: float64

In [10]:
print("Minimum value in each column: ")
print(df.min())

Minimum value in each column:
Duration     15.0
Pulse        80.0
Maxpulse    100.0
Calories     50.3
dtype: float64

In [11]:
print("Maximum value in each column: ")
print(df.max())

Maximum value in each column:
Duration     300.0
Pulse        159.0
Maxpulse     184.0
Calories    1860.4
dtype: float64

In [12]:
null_rows = df[df.isnull().any(axis=1)]
print(null_rows)
df.fillna(df.mean(), inplace=True)

     Duration  Pulse  Maxpulse  Calories
17         45     90       112       NaN
27         60    103       132       NaN
91         45    107       137       NaN
118        60    105       125       NaN
141        60     97       127       NaN

In [22]:
filtered_df = df[(df['Calories'] <= 1000) & (df['Calories'] >= 500)]
print(filtered_df)

     Duration  Pulse  Maxpulse  Calories
51         80    123       146     643.1
62        160    109       135     853.0
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
72         90    100       127     700.0
73        150     97       127     953.2
75         90     98       125     563.2
78        120    100       130     500.4
83        120    100       130     500.0
90        180    101       127     600.1
99         90     93       124     604.1
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
106       180     90       120     800.3
108        90     90       120     500.3

In [36]:
df['Calories'] = df['Calories'].astype('int64')

In [38]:
df.plot.scatter(x = 'Duration', y = 'Calories', s = 100);

AttributeError: 'numpy.dtypes.Float64DType' object has no attribute 'plot'

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive